.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.recipes-grid .card {
  min-width: 23rem;
  max-width: 25rem;
}

.card-body {
  text-align: left;
  min-height: 21rem;
}

.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.pagination-container {
  display: flex;
  justify-content: center;
}